<div class="tech-btm">
							<h3>Yaptıklarımız</h3>
							<div class="blog-grids row mb-3">
							<div class="col-md-6 blog-grid-left">
								<a>
									<img src="~/CoreBlogTema/images/mutfak/real1.jpg" class="card-img-top img-fluid" alt="">
								</a>
							</div>
							<div class="col-md-6 blog-grid-right">

								<h5>
									<a>
										<img src="~/CoreBlogTema/images/mutfak/real3.jpg" class="card-img-top img-fluid" alt="">
									</a>
								</h5>
							</div>
						</div>
						</div>