<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
					<h3>Hakkımızda</h3>
					<p>Özsoy Mermer olarak 2004 yılında İstanbul’da faaliyete geçtik...</p>
					<div class="read">
						<a href="/About/Index/" class="btn btn-primary read-m">Devamını Oku</a>
					</div>
				</div>
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

					@await Html.PartialAsync("~/Views/Shared/Example.cshtml")
				</div>
				<div class="copycenter-footer">
					<div class="copy-center">
						<p>© @DateTime.Now.Year Tüm hakları saklıdır. | Design by
							<a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
				</div>
			</div>
			</div>
		</div>

</footer>