
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title> Özsoy Mermer</title>
	<link rel="shortcut icon" href="~/CoreBlogTema/images/mutfak/1.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="~/CoreBlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="~/CoreBlogTema/css/single.css">
	<link href="~/CoreBlogTema/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/CoreBlogTema/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
</head>

<body>
	<!--Header-->
	@*<i>class="fab fa-linode"</i>*@
	<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="/About/Index/"> 
						<img src="~/CoreBlogTema/images/mutfak/1.png" width="60" height="60"/>ÖZSOY MERMER</a>
				</div>

				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
					<span></span>
				</div>

				<div class="col-md-4 log-icons text-right">

					<ul class="social_list1 mt-3">
						<li>
							<a href="mailto:ozsoy.rukiye@gmail.com" style="background-color:#3e65cf">
								<i class="fa fa-envelope"></i>
							</a>
						</li>
						<li>
							<a style="background-color:#E1306C" href="https://www.instagram.com/ozsoymermer/" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		@await Html.PartialAsync("Header")

	</header>
	@RenderBody()
	@await Html.PartialAsync("Footer")
	<script src="~/CoreBlogTema/js/jquery-2.2.3.min.js"></script>
	<script src="~/CoreBlogTema/js/move-top.js"></script>
	<script src="~/CoreBlogTema/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<script src="~/CoreBlogTema/js/bootstrap.js"></script>
</body>

</html>
