<div class="tech-btm widget_social">
							<h4>Sosyal medya hesaplarımız</h4>
							
							<ul>
								<li>
									<a style="background-color:#E1306C" href="https://www.instagram.com/ozsoymermer/" target="_blank">
										<i class="fab fa-instagram"></i>
										<span class="count"></span>Instagram</a>
								</li>
								<li>
									<a style="background-color: #28D146">
										<i class="fab fa-whatsapp"></i>
										<span class="count"></span>Whatsapp (+90 537 873 19 77)</a>
								</li>
								<li>
									<a style="background-color:#3e65cf" href="mailto:ygmrozsyy@gmail.com">
										<i class="fa fa-envelope"></i>
										<span class="count"></span>Mail</a>
								</li>
							</ul>
						</div>