<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="image" class="rounded-circle" src="~/CoreBlogTema/images/mutfak/logo.svg" width="500" height="10"/>
                        <a data-toggle="dropdown" class="dropdown-toggle">
                            <span style="color:white" class="block m-t-xs font-bold">Özsoy Granit</span>
                            <span style="color:dimgrey" class="text-muted text-xs block">Mutfak</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Modeller</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/Admin/Belenco/Index/"><i class="fa fa-image"></i> <span class="nav-label">Belenco</span>  </a></li>
                        <li><a href="/Admin/Calisco/Index/"><i class="fa fa-image"></i> <span class="nav-label">Calisco</span>  </a></li>
                        <li><a href="/Admin/Cimstone/Index/"><i class="fa fa-image"></i> <span class="nav-label">Cimstone</span>  </a></li>
                        <li><a href="/Admin/Coante/Index/"><i class="fa fa-image"></i> <span class="nav-label">Coante</span>  </a></li>
                        <li><a href="/Admin/Granit/Index/"><i class="fa fa-image"></i> <span class="nav-label">Granit</span>  </a></li>
                    </ul>
                </li>
                <li>
                    <a href="/About/Index/"><i class="fa fa-sign-out"></i> <span class="nav-label">Çıkış Yap</span>  </a>
                </li>
            </ul>

        </div>
    </nav>